// Brand colour variables
$color-brand-primary: rgb(100, 157, 223);
$color-brand-secondary: rgb(174, 83, 213);
// $color-accent:;

// Background gradients are used throughout Peerio Messenger.
// If you don't wish do use gradients then leave $color-brand-primary as the value for $color-brand-secondary.
$color-brand-gradient: linear-gradient(to right, $color-brand-primary, $color-brand-secondary);
$color-brand-gradient-bottom: $color-brand-gradient;

// Background patterns
// $background-pattern: './static/img/bg-pattern.png';
$background-pattern: ''; // no pattern